body {
  background-color: darkgray;
  width: 400px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
  border: 3px solid blue;
}

#date {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  color: blue;
  text-align: center;
  /*padding-top: 25rem;*/
}

#txt {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  color: blue;
  text-align: center;
}
